<!-- <p>place-list works!</p> -->
<script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCZQaeF34-eJSqUKgQ9xnDTPb6oFPAGieU'></script>

<div class="row">
    <div class="col-md-5">
      <h2>Interesting places from all over the world</h2>
      <p>Browse interesting places and add your own!</p>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let place of places"
          (click)="selectPlace(place)"
          [class.active]="place === selectedPlace">
          <h1>{{place.name}}</h1>
          <!-- <app-map [mapOf]='Oulu'></app-map> -->
          <app-map></app-map>
          <!-- <div #map id="map" style='width:100%;height:400px'></div> -->
          <br>{{place.description}}<br><b>Activities: </b>{{place.activities}}
        </li>
      </ul>
      <button class="btn btn-warning" (click)="createNewPlace()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <place-details
        [place]="selectedPlace"
        [createHandler]="addPlace"
        [updateHandler]="updatePlace"
        [deleteHandler]="deletePlace">
      </place-details>
    </div>
  </div>