<div *ngIf="place" class="row">
    <div class="col-md-12">
      <h2 *ngIf="place._id">Learn more</h2>
      <h2 *ngIf="!place._id">New Place</h2>
    </div>
  </div>
  <div *ngIf="place" class="row">
    <form class="col-md-12">
      <div class="form-group">
        <label for="place-name">Name</label>
        <input class="form-control" name="place-name" [(ngModel)]="place.name" placeholder="Name"/>
      </div>
      <div class="form-group">
        <label for="place-description">Description</label>
        <input class="form-control" name="place-description" [(ngModel)]="place.description" placeholder="Description of the place"/>
      </div>
      <div class="form-group">
        <label for="place-description">Activities</label>
        <input class="form-control" name="place-activities" [(ngModel)]="place.activities" placeholder="Interesting activities at the place"/>
      </div>
      <button class="btn btn-primary" *ngIf="!place._id" (click)="createPlace(place)">Create</button>
      <button class="btn btn-info" *ngIf="place._id" (click)="updatePlace(place)">Update</button>
      <button class="btn btn-danger" *ngIf="place._id" (click)="deletePlace(place._id)">Delete</button>
    </form>
  </div>